# Shared testing framework dependencies
# Used by both unit and integration tests

-r ../meta/ee-requirements.txt # <-- runtime requirements
-c constraints.in # <-- contains known limitations

# Required for features not covered by modules
awscli

# Testing framework
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-xdist
pytest-ansible
pytest-memray

# Test utilities
mock
placebo
